#fakeloader-overlay {
  opacity: 0;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
  z-index: 9998;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; 
}

#fakeloader-overlay.visible {
  opacity: 1; 
}

#fakeloader-overlay.hidden {
  opacity: 0;
  height: 0px;
  width: 0px;
  z-index: -10000; 
}

#fakeloader-overlay .loader-wrapper-outer {
  background-color: transparent;
  z-index: 9999;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
  text-align: center;
  vertical-align: middle; 
}

#fakeloader-overlay .loader-wrapper-inner {
  display: table-cell;
  vertical-align: middle; 
}

#fakeloader-overlay .loader {
  margin: auto;
  /* font-size: 10px; */
  position: relative;
  /* text-indent: -9999em; */
  /* border-top: 8px solid rgba(255, 255, 255, 0.5); */
  /* border-right: 8px solid rgba(255, 255, 255, 0.5); */
  /* border-bottom: 8px solid rgba(255, 255, 255, 0.5); */
  /* border-left: 8px solid #AAA; */
  /* -webkit-transform: translateZ(0); */
  -ms-transform: translateZ(0);
  /* transform: translateZ(0); */
  /* -webkit-animation: fakeloader 1.1s infinite linear; */
  /* animation: fakeloader 1.1s infinite linear; */
}

#fakeloader-overlay .loader, #fakeloader-overlay .loader:after {

  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

@-webkit-keyframes fakeloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

@keyframes fakeloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}


/*////https://loading.io/*/
@keyframes ldio-agqjnyng44k-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-agqjnyng44k-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-agqjnyng44k-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.ldio-agqjnyng44k div { position: absolute; width: 30px }.ldio-agqjnyng44k div:nth-child(1) {
  left: 0px;
  background: #e15b64;
  animation: ldio-agqjnyng44k-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s;
}
.ldio-agqjnyng44k div:nth-child(2) {
  left: 35px;
  background: #f8b26a;
  animation: ldio-agqjnyng44k-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s;
}
.ldio-agqjnyng44k div:nth-child(3) {
  left: 69px;
  background: #abbd81;
  animation: ldio-agqjnyng44k-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds;
}

.loadingio-spinner-pulse-hedgu9884o8 {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
  position: absolute;
  top: -100px;
  left: -65px;
}
.ldio-agqjnyng44k {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-agqjnyng44k div { box-sizing: content-box; }
/* generated by https://loading.io/ */